@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
}

.content1 {
  background-image: url('images/backgroundImage.avif');
  background-repeat: no-repeat;
  width: 600px;
  height: 100vh;
  padding-top: 250px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 27px 0;
}

.logoImage {
  width: 100px;
}

.logoName {
  color: white;
  font-size: 40px;
  font-weight: 620;
}

.content2 {
  width: 100%;
}

.formDescription {
  padding: 190px 40px 76px;
  height: 392px;
  background-color: rgb(247, 247, 247);
  width: 100%;
}

.formDescription p {
  font-weight: 600;
  line-height: 2rem;
  font-size: 22px;
}

.form .content2-a {
  padding: 40px;
  display: grid;
  gap: 1rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 60px);
  box-shadow: 5px 13px 24px -11px rgba(0, 0, 0, 0.4);
}

.form h2 {
  margin: 40px 40px 0;
}

.content2-a > div {
  display: flex;
  flex-direction: column;
}

.content2-a div label {
  font-weight: 530;
  margin-bottom: 1px;
  color: gray;
}

.content2-a div input {
  height: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  border-width: 1.5px;
}

.content2-a div input.password,
.content2-a div input.confirmPassword {
  height: 34px;
}

.content2-a div input:focus {
  border-color: rgb(0, 115, 255);
  box-shadow: 2px 3px 12px 0.7px rgba(0, 0, 0, 0.18);
}

.content2-a div input.notMatch,
.content2-a div input.notMatch:focus {
  border-color: red;
}

.errorMessage {
  color: red;
}

.content2-b {
  padding: 50px 40px;
}

.content2-b button {
  padding: 15px 35px;
  font-size: 19px;
  font-weight: 600;
  border-radius: 8px;
  background-color: rgb(46, 128, 46);
  border: none;
  color: white;
  margin-bottom: 20px;
}

.content2-b p {
  font-size: 18px;
}

.content2-b p a {
  color: rgb(46, 128, 46);
  font-weight: 600;
  text-decoration: none;
}
